body {
  margin: 15px 10px;
  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: black;
}

* {
  user-select: none !important;
}

.no-video {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .95);
}
.no-video-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: bold;
  white-space: nowrap;
  color: red;
}

/**
 * Value
 */
#value {
  margin: 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2em;
}
#value::after {
  content: 'x';
}

/**
 * Container que desenhará a seta para baixo
 */
.arrow {
  position: relative;
  display: inline-block;
}
.arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  border: solid 6px transparent;
  border-top-color: currentColor;
  transform: translate(-50%, -150%);
}

/**
 * Container do input
 */
#container {
  --width: 200px;
  width: var(--width);
  overflow-x: hidden;
  cursor: w-resize;
}
#range {
  --rate-height: 20px;
  display: flex;
  padding: 0 calc(var(--width) / 2);
  width: 300px;
  height: calc(var(--rate-height) + 2em);
  justify-content: space-between;
}
.rate {
  position: relative;
  width: 2px;
  height: var(--rate-height);
}
.rate:not(.special) {
  background-color: gray;
}
.rate.special {
  background-color: currentColor;
}
.rate.special::before {
  content: attr(data-value) 'x';
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  transform: translate(-50%, 0);
}

/**
 * Keyframes
 */
@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
