body {
  margin: 20px;
  text-align: center;
  font-family: Georgia, serif;
  color: black;
}

/**
 * Valor
 */
#value {
  margin: 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2em;
}

/**
 * Container que desenhará a seta para baixo
 */
.arrow {
  position: relative;
  display: inline-block;
}
.arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -90%;
  left: 50%;
  transform: translateX(calc(-50%));
  border: solid 6px transparent;
  border-top-color: currentColor;
}

/**
 * Container do input
 */
#container {
  --width: 200px;
  width: var(--width);
  overflow-x: hidden;
  cursor: w-resize;
}
#range {
  display: flex;
  padding: 0 calc(var(--width) / 2);
  width: 300px;
  height: 20px;
  justify-content: space-between;
}
.rate {
  width: 2px;
  height: 100%;
  background-color: currentColor;
}